body {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #dfd;
    background-size: cover;
}

.player-choice_modal {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 30;
}

.player-choice_dialogue {
	width: 350px;
	height: 250px;
	margin: 15% auto;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	display: -webkit-flex;
	display: -moz-flexbox;
	display: -ms-flexbox;
	flex-direction: column;
}

.dialogue-header,
.pick-player-text {
	margin: 0;
	padding: 0;
}

.controls {
	display: flex;
	display: -webkit-flex;
	display: -moz-flexbox;
	display: -ms-flexbox;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.btn {
	width: 70px;
	height: 35px;
	border-radius: 25px;
	border: 0.5px solid transparent;
}

.lives {
	font-size: 1.5em;
	color: #f00;
}

@media screen and (max-width: 510px) {
	.player-choice_modal {
		height: 130vh;
		width: 130vw;
	}
}

@media screen and (max-width: 399px) {
	.player-choice_modal {
		height: 140%;
		width: 140vw;
	}
}

@media screen and (max-width: 359px) {
	.player-choice_modal {
		height: 165vh;
		width: 162vw;
	}
}